/* UTILITIES */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.container {
    width: 1140px;
    margin: 80px auto;
}

strong {
    font-weight: 600;
}

.title {
    font-size: 2.8rem;
    font-weight: 600;
    color: #5a6f80;
}

.sub-title {
    font-size: 1.5rem;
    font-weight: 800;
    color: #5bc1ac;
}

img {
    max-width: 100%;
}

p {
    color: #717275;
}

a {
    text-decoration: none;
}

.button {
    background: #4591cf;
    border: 2px solid transparent;
    border-radius: 50px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: normal;
    padding: .93rem 1.56rem;
}

/* TOP BAR CSS */
.top-bar {
    background-color: #5bc1ac;
    padding: 10px;
}

.top-bar-container {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar-title {
    display: flex;
}

.top-bar-title p {
    margin-right: 20px;
    color: #fff;
    font-weight: 300;
}

.top-bar-title p span {
    margin-right: 5px;
}

.social-icons ul {
    list-style: none;
}

.social-icons ul li {
    display: inline-block;
    margin-left: 15px;
}

.social-icons ul li a {
    display: block;
    color: #fff;
    transition: all ease-in-out .2s;
}

/* HOVER EFFECT */
.social-icons ul li a:hover {
    transform: scale(1.2);
    color: blue;
}

/* NAVBAR */
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 60px;
}

.nav-title-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo {
    width: 80px;
}

.nav-title h4 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #5bc1ac;
}

.nav-sub-title {
    font-size: 0.8rem;
    display: block;
    margin: auto;
    width: 100%;
}

.logo {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

#nav-toggler {
    display: none;
}

.nav-toggler-icon {
    display: none;
}

.navBar ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBar ul li {
    list-style: none;
    margin-right: 40px;
}

.navBar ul li a {
    font-size: 16px;
    color: #3a3a3a;
    font-weight: 400;
    position: relative;
    padding-bottom: 6px;
}

.navBar ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    border-bottom: 2px solid #e02c6d;
    transition: .4s ease-in-out;
}

.nav-button {
    border: 2px solid #597081;
    padding: 7px 30px;
    border-radius: 25px;
    font-weight: 400;
    display: inline-block;
    transition: 0.5s;
}

/* HOVER EFFECT */
.navBar ul li a:hover::after {
    width: 100%;
}

.nav-button:hover {
    transform: scale(1.2);
}

/* WELCOME SECTION CSS */
.welcome-section .title {
    text-align: center;
    padding: 2rem;
}

.feature-card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
    justify-items: center;
    padding: 20px 0px;
}

.feature-card {
    text-align: center;
    transition: all 0.5s ease;
    width: 256px;
    min-height: 256px;
    padding: 15px;
    border-radius: 25px;
    transition: 0.5s ease;
}

.feature-card-wrapper img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    transition: 0.5s ease;
}

.welcome-section .text-bold {
    font-size: 1.5rem;
    color: #5bc1ac;
    font-weight: 300;
}

/* HOVER EFFECT */
.feature-card:hover {
    background-color: #fff;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

.feature-card:hover img {
    transform: scale(0.75);
    margin-bottom: 0px;
}


/* RESPONSIVE DESIGN FOR MOBILE DEVICES */
@media (max-width: 700px) {
    .title {
        font-size: 1.5rem;
    }

    .container {
        width: 100%;
    }

    .top-bar-container {
        width: 100%;
    }

    .top-bar-title {
        flex-direction: column;
    }

    .social-icons {
        display: none;
    }

    .navBar {
        margin: 5px 20px;
        justify-content: space-between;
    }

    .nav-toggler-icon {
        display: block;
    }

    #nav-toggler:checked~ul {
        left: 0%;
        box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 15%);
    }

    .navBar ul {
        padding: 15px 0px;
        position: fixed;
        top: 160px;
        left: -100%;
        height: auto;
        width: 100%;
        margin: auto;
        display: block;
        text-align: center;
        background-color: white;
        transition: all 0.5s ease-in-out;

    }

    .navBar ul li {
        margin-bottom: 10px;
        margin-right: 0px;
    }

    /* WELCOME SECTION RESPONSIVE */
    .feature-card-wrapper {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
    }
    .feature-card {
        text-align: center;
        transition: all 0.5s ease;
        width: 250px;
        min-height: 230px;
        padding: 5px;
    }

    .feature-card-wrapper img {
        margin-bottom: 15px;
    }

    .welcome-section .text-bold {
        font-size: 1.4rem;
    }
}