/* UTILITIES */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.container {
    width: 1140px;
    margin: 100px auto;
}

strong {
    font-weight: 600;
}

.title {
    font-size: 2.8rem;
    font-weight: 600;
    color: #5a6f80;
}

.sub-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: #5bc1ac;
}

img {
    max-width: 100%;
}

p {
    font-weight: 300;
    color: #717275;
}

a {
    text-decoration: none;
}

.custom-button {
    background: #597081;
    border: 2px solid transparent;
    border-radius: 50px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: normal;
    padding: .90rem 1.6rem;
    letter-spacing: 0.5px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.custom-button2 {
    display: block;
    background: #5A6F80;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    color: #fff;
    padding: 15px 0px;
    transition: all .3s;
}

/* HOVER EFFECT */
.custom-button:hover {
    background-color: #57B9A5;
}

.custom-button2:hover {
    background-color: #57B9A5;
}

/* TOP BAR CSS */
.top-bar {
    background-color: #5bc1ac;
    padding: 10px;
}

.top-bar-container {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar-title {
    display: flex;
}

.top-bar-title p {
    margin-right: 20px;
    color: #fff;
}

.top-bar-title p span {
    margin-right: 5px;
}

.social-icons ul {
    list-style: none;
}

.social-icons ul li {
    display: inline-block;
    margin-left: 15px;
}

.social-icons ul li a {
    display: block;
    color: #fff;
    transition: all ease-in-out .2s;
}

/* HOVER EFFECT */
.social-icons ul li a:hover {
    transform: scale(1.2);
    color: blue;
}

/* NAVBAR */
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 60px;
}

.nav-title-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo {
    width: 80px;
}

.nav-title h4 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #5bc1ac;
}

.nav-sub-title {
    font-size: 0.8rem;
    display: block;
    margin: auto;
    width: 100%;
}

.logo {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

#nav-toggler {
    display: none;
}

.nav-toggler-icon {
    display: none;
}

.navBar ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBar ul li {
    list-style: none;
    margin-right: 40px;
}

.navBar ul li a {
    font-size: 16px;
    color: #3a3a3a;
    font-weight: 400;
    position: relative;
    padding-bottom: 6px;
}

.navBar ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    border-bottom: 2px solid #e02c6d;
    transition: .4s ease-in-out;
}

.nav-button {
    border: 2px solid #597081;
    padding: 7px 30px;
    border-radius: 25px;
    font-weight: 400;
    display: inline-block;
    transition: 0.5s;
}

/* HOVER EFFECT */
.navBar ul li a:hover::after {
    width: 100%;
}

.nav-button:hover {
    transform: scale(1.2);
}

/* WELCOME SECTION CSS */
.feature .title {
    text-align: center;
    padding: 2rem;
}

.feature-card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
    justify-items: center;
    padding: 20px 0px;
}

.feature-card {
    text-align: center;
    transition: all 0.5s ease;
    width: 256px;
    min-height: 256px;
    padding: 15px;
    border-radius: 25px;
    transition: 0.5s ease;
}

.feature-card-wrapper img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    transition: 0.5s ease;
}

.feature .text-bold {
    font-size: 1.5rem;
    color: #5bc1ac;
    font-weight: 300;
}

/* HOVER EFFECT */
.feature-card:hover {
    background-color: #fff;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

.feature-card:hover img {
    transform: scale(0.75);
    margin-bottom: 0px;
}

/* OUR MISSION SECTION */
.our-mission {
    padding: 40px 0px;
    background-color: #F0F8FF;
}

.our-mission-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.our-mission-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.our-mission-title {
    margin-bottom: 20px;
}

.our-mission-title, .our-goal-content, .our-goal-count {
    background-color: #fff;
    padding: 40px;
    border-radius: 25px;
}

.mission-text {
    margin-top: 15px;
}

.our-goal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.goal-list {
    margin-top: 10px;
}

.goal-list li {
    list-style: none;
    margin-bottom: 10px;
    color: rgb(90, 111, 128);
    font-weight: 300;
}

.goal-list li span {
    font-size: 0.8rem;
    color: rgb(90, 111, 128);
    display: inline-block;
    background: rgb(240, 248, 255);
    margin-right: 10px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    text-align: center;
}

.our-goal-count {
    text-align: center;
}

.our-goal-count p {
    margin-bottom: 20px;
    color: #5bc1ac;
}

/* FOUNDER SECTION CSS */
.founder-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
}

.founder-image {
    flex-basis: 40%;
}

.founder-about {
    flex-basis: 30%;
}

.founder-position {
    margin-bottom: 20px;
}

.founder-about p {
    color: rgb(113, 114, 117);
    margin-bottom: 15px;
}

.founder-image img {
    display: block;
    border-radius: 25px;
    width: 350px;
    height: 400px;
    margin: auto;
    object-fit: cover;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}

.founder-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.founder-icons a {
    color: #fff;
    background: #44525D;
    border: 1px solid #44525D;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-top: 15px;
    transition: 0.5s;
}

/* HOVER EFFECT */
.founder-icons a:hover {
    background: #57B9A5;
    border: 1px solid #57B9A5;
}

/* VOLUNTEER SECTION CSS */
.volunteer {
    background: #F0F8FF;
    position: relative;
    overflow: hidden;
}

.volunteer::before {
    content: "";
    background-color: #5bc1ac;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: -30px;
    margin: auto;
    width: 200px;
    height: 200px;
}

.volunteer::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    border: 20px solid #597081;
    left: 0;
    bottom: -110px;
    margin: auto;
    right: 0;
    border-radius: 50%;
}

.volunteer-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.donation-btn {
    color: #44525D;
    font-weight: 300;
    margin-right: 20px;
    font-size: 1rem;
    transition: 0.3s;
}

/* HOVER EFFECT */
.donation-btn:hover {
    color: #57B9A5;
}

/* OUR CAUSES SECTION CSS */
.our-causes .title {
    text-align: center;
    margin-bottom: 35px;
}

.causes-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 30px;
}

.our-cause-img {
    border-radius: 20px 20px 0px 0px;
}

.our-cause-card {
    transition: 0.5s;
}

.causes-content {
    padding: 30px;
}

.causes-content .sub-title {
    margin-bottom: 15px;
}

.progress-bar-first {
    position: relative;
    margin-top: 25px;
    width: 100%;
    height: 5px;
    background-color: #E9EAEB;
    border-radius: 10px;
}

.progress-bar-odd {
    position: relative;
    margin-top: 25px;
    width: 100%;
    height: 5px;
    background-color: #E9EAEB;
    border-radius: 10px;
}

.progress-bar-last {
    position: relative;
    margin-top: 25px;
    width: 100%;
    height: 5px;
    background-color: #E9EAEB;
    border-radius: 10px;
}

.progress-bar-first::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 75%;
    height: 5px;
    background-color: #5A6F80;
    border-radius: 10px;
}

.progress-bar-odd::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 5px;
    background-color: #5A6F80;
    border-radius: 10px;
}

.progress-bar-last::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: #5A6F80;
    border-radius: 10px;
}

.progress {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* HOVER EFFECT */
.our-cause-card:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    border-radius: 20px;
}

/* ABOUT VOLUNTEERING SECTION CSS */
.about-volunteering {
    background-color: #5A6F80;
}

.about-volunteering-wrapper {
    display: flex;
}

.about-volunteering h1 {
    color: white;
}

.volunteering-form {
    background: white;
}

.form-title {}

/* RESPONSIVE DESIGN FOR MOBILE DEVICES */
@media (max-width: 700px) {
    .title {
        font-size: 1.6rem;
    }

    .sub-title {
        font-size: 1.2rem;
    }

    .container {
        width: 100%;
        padding: 0px 15px;
    }

    .top-bar-container {
        width: 100%;
    }

    .top-bar-title {
        flex-direction: column;
    }

    .social-icons {
        display: none;
    }

    .navBar {
        margin: 5px 20px;
        justify-content: space-between;
    }

    .nav-toggler-icon {
        display: block;
    }

    #nav-toggler:checked~ul {
        left: 0%;
        box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 15%);
    }

    .navBar ul {
        padding: 15px 0px;
        position: fixed;
        top: 160px;
        left: -100%;
        height: auto;
        width: 100%;
        margin: auto;
        display: block;
        text-align: center;
        background-color: white;
        transition: all 0.5s ease-in-out;

    }

    .navBar ul li {
        margin-bottom: 10px;
        margin-right: 0px;
    }

    /* WELCOME SECTION RESPONSIVE */
    .feature-card-wrapper, .our-mission-wrapper, .our-goal, .causes-wrapper {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
    }

    .feature-card {
        text-align: center;
        transition: all 0.5s ease;
        width: 100%;
        min-height: 230px;
        padding: 5px;
    }

    .feature-card-wrapper img {
        margin-bottom: 15px;
    }

    .feature .text-bold {
        font-size: 1.4rem;
    }

    /* OUR MISSION SECTION RESPONSIVE */
    .our-goal-count {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .our-goal-count .title {
        font-size: 2.5rem;
    }

    /* FOUNDER SECTION RESPONSIVE */
    .founder-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        align-items: center;
    }

    .founder-image {
        flex-basis: 100%;
    }

    .founder-image img {
        width: 400px;
    }

    .founder-about {
        flex-basis: 100%;
    }

    /* VOLUNTEER SECTION RESPONSIVE */
    .volunteer-wrapper {
        grid-template-columns: repeat(1, 1fr);
        justify-items: flex-start;
    }

    .volunteer::before {
        content: "";
        top: -100px;
        left: -30px;
        width: 150px;
        height: 150px;
    }

    .volunteer::after {
        content: "";
        bottom: -80px;
        width: 80px;
        height: 80px;
    }

}