/* UTILITIES */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
}

.container {
    width: 1140px;
    margin: 60px auto;
}

.title {
    font-size: 2.5rem;
    font-weight: 800;
    color: #5a6f80;
}

.sub-title {
    font-size: 1.5rem;
    font-weight: 800;
    color: #5bc1ac;
}

p {
    color: #717275;
}

a {
    text-decoration: none;
}

.button {
    background: #4591cf;
    border: 2px solid transparent;
    border-radius: 50px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: normal;
    padding: .93rem 1.56rem;
}

/* TOP BAR CSS */
.top-bar {
    background-color: #5bc1ac;
    padding: 10px;
}

.top-bar-container {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar-title {
    display: flex;
}

.top-bar-title p {
    margin-right: 20px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
}

.top-bar-title p span {
    margin-right: 5px;
}

.social-icons ul {
    list-style: none;
}

.social-icons ul li {
    display: inline-block;
    margin-left: 15px;
}

.social-icons ul li a {
    display: block;
    color: #fff;
    transition: all ease-in-out .2s;
}

/* HOVER EFFECT */
.social-icons ul li a:hover {
    transform: scale(1.2);
    color: blue;
}

/* MOBILE RESPONSIVE DEGISN */
@media only screen and (max-width: 768px) {
    .top-bar-container{
        width: 100%;
    }
    .top-bar-title{
        flex-direction: column;

    }
    .social-icons{
        display: none;
    }
}